.header {
    background: rgb(210, 228, 210);
}

#heading {
    text-shadow: 1px 2px 3px rgb(56, 55, 55);
}

.hourBlock {
    background: rgb(189, 212, 235);

}

.pasTime {
    background: hotpink;
}

.time {
padding-top: 30px;
}